if SHIELD_MARSLANDER_LEFT

config ZMK_KEYBOARD_NAME
    default "Marslander"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_MARSLANDER_RIGHT
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default n

endif

if SHIELD_MARSLANDER_LEFT || SHIELD_MARSLANDER_RIGHT

config ZMK_SPLIT
    default y

endif