
// fast arrows
#define WORD_LEFT LA(LEFT)
#define WORD_RIGHT LA(RIGHT)
#define WORD_UP LA(UP)
#define WORD_DOWN LA(DOWN)
#define LINE_START LG(LEFT)
#define LINE_END LG(RIGHT)
#define WORD_BSPC LA(BSPC)
#define LINE_BSPC LG(BSPC)

// basic shortcuts
#define MY_CUT LG(X)
#define MY_COPY LG(C)
#define MY_PASTE LG(V)
#define SELECT_ALL LG(A)
#define MY_SAVE LG(S)
#define MY_BUILD LG(B)
#define MY_REFRESH LG(R)

// #define MY_CUT LG(B)
// #define MY_COPY LG(I)
// #define MY_PASTE LG(DOT)
// #define SELECT_ALL LG(A)
// #define MY_SAVE LG(SEMI)
// #define MY_BUILD LG(N)
// #define MY_REFRESH LG(O)
#define MY_LANG_EN LA(LS(F11))
#define MY_LANG_RU LA(LS(F12))